<section class='top-home-hero'>

  <div class='hero-inner-container'>

    <div class='hero-header'>

      <a ui-sref='home'><img class='header-logo' src='./assets/images/via-grey-logo.jpg' /></a>

      <ul class='nav-bar'>

        <li><a class='nav-link' ui-sref='case-studies'>Case Studies</a></li>
        <li><a class='nav-link' ui-sref='about'>About</a></li>
        <li><a class='nav-link' href=''>Process</a></li>
        <li><a class='nav-link' href=''>Services</a></li>
        <li><a class='nav-link' href=''>Blog</a></li>
        <li><a class='nav-link' href=''>Careers</a></li>
        <li><a class='nav-link contact-link' href=''>Contact</a></li>

      </ul>

    </div>

    <div class='hero-contents'>

    </div>

  </div>

</section>

<div class='slant-div hero-bottom div'></div>



<div class='slant-div bottom-blog-slant'></div>

<section class='main-section footer-section'>

  <div class='inner-section-container footer-container'>

    <div class='footer-contact-info'>

      <div class='footer-phone-numbers'>

        <h2 class='section-subtitle'>Contact Info</h2>

        <div class='phone-number-container'>

          <div class='phone-icon'>

            <i class="fa fa-phone" aria-hidden="true"></i>

          </div>

          <div class='phone-text-container'>

            <h3 class='location-name'>Middlesbrough</h3>

            <h3 class='phone-number'>01642 247 111</h3>

          </div>

        </div>

        <div class='phone-number-container'>

          <div class='phone-icon'>

            <i class="fa fa-phone" aria-hidden="true"></i>

          </div>

        <div class='phone-text-container'>

          <h3 class='location-name'>Hull</h3>

          <h3 class='phone-number'>01482 242 243</h3>

        </div>

        </div>

      </div>

      <div class='footer-contact-info-email'>

        <h3 class='section-subtitle footer-email'>studio@viacreative.co.uk</h3>

        <a class='contact-link' href=''>CONTACT</a>

      </div>

    </div>

    <div class='footer-social-media'>

      <h2 class='section-subtitle'>Social Media</h2>

      <div class='footer-icon-container'>

        <i class="fa fa-linkedin" aria-hidden="true"></i>

        <i class="fa fa-twitter" aria-hidden="true"></i>

        <i class="fa fa-facebook" aria-hidden="true"></i>

        <i class="fa fa-dribbble" aria-hidden="true"></i>

        <i class="fa fa-behance" aria-hidden="true"></i>

        <i class="fa fa-github" aria-hidden="true"></i>

      </div>

    </div>

    <div class='footer-address-info'>

      <h2 class='section-subtitle'>Address</h2>

      <div class='footer-address'>

        <p class='section-text'>Cargo Fleet Offices</p>

        <p class='section-text'>Middlesbrough Road</p>

        <p class='section-text'>Middlesbrough</p>

        <p class='section-text'>TS6 6XH</p>

      </div>

    </div>

  </div>

  <div class='legal-footer'>

    <div class='bottom-left'>

      <img src='./assets/images/footer/via-logo-footer.png' />

      <a href=''>Terms & Conditions</a>

      <a href=''>Privacy</a>

      <a href=''>Cookies</a>

    </div>

    <div class='center-arrow'>

    </div>

    <div class='october-partner'>

      <img src='./assets/images/footer/october.png' />

    </div>

  </div>

</section>
