<section class='top-home-hero'>

  <div class='hero-inner-container'>

    <div class='hero-header'>

      <a ui-sref='home'><img class='header-logo' src='./assets/images/via-grey-logo.jpg' /></a>

      <ul class='nav-bar'>

        <li><a class='nav-link' href=''>Case Studies</a></li>
        <li><a class='nav-link' href=''>About</a></li>
        <li><a class='nav-link' href=''>Process</a></li>
        <li><a class='nav-link' href=''>Services</a></li>
        <li><a class='nav-link' href=''>Blog</a></li>
        <li><a class='nav-link contact-link' href=''>Contact</a></li>

      </ul>

    </div>

    <div class='hero-contents'>

    </div>

  </div>

</section>

<div class='slant-div'></div>
