@import url('https://fonts.googleapis.com/css?family=Exo+2:700');
@import url('https://fonts.googleapis.com/css?family=Roboto');


$light-border: #0687A8;
$grey-font-color: #02C8C7;
$footer-color: #092C64;
$primary-color: #00225C;

.top-blogItem-hero {
  width: 100%;
  // height: 1250px;
  height: 100vh;
  // border: 1px solid black;
  background: url('./assets/images/home-banner.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20vh;

  .hero-inner-container {
    width: 96%;
    height: 690px;
    margin: auto;
    padding-top: 25px;
    // border: 1px solid blue;

    .hero-header {
      width: 100%;
      height: 100px;
      // border: 1px solid yellow;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        float: left;
        width: 70px;
        height: 70px;
        // border: 1px solid blue;

      }

      .nav-bar {
        width: 720px;
        height: 60px;
        // border: 1px solid orange;
        float: right;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-link {
          font-family: 'Roboto', sans-serif;
          color: white;
          font-size: 17px;
          margin-left: 7px;

        }

        .contact-link {
          padding: 12px 25px 12px 25px;
          border: 3px solid #0687A8;
        }
      }
    }

  .hero-contents {
    width: 60%;
    height: 170px;
    // border: 1px solid green;
    margin: auto;
    margin-top: 70px;
    font-family: 'Exo 2';
    color: white;
    // padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    // padding-right: 40px;
    // align-items: center;


    .hero-subtitle {
      // margin: auto;
      // width: 100%;
      // margin-left: 8%;
      margin-top: 40px;
      margin-bottom: 30px;
    }

    .hero-title {
      font-size: 60px;
      font-weight: bolder;
      // width: 100%;
      // margin: auto;
      // margin-left: 2%;
      margin-bottom: 35px;
    }

    .hero-text {
      margin-left: 10px;
      font-size: 18px;
      padding-bottom: 50px;
      line-height: 30px;
      font-family: 'Roboto';
      letter-spacing: .2px;

    }

    .hero-button {
      float: right;
      color: white;
      font-family: 'Arial';

      a {
        padding: 17px 30px 17px 30px;
        border: 3px solid #0687A8;
        color: white;
        margin-right: 15px;
        font-weight: bold;
      }
    }

  }

  }
}

.blog-item-slant {
  // border: 1px solid black;
  margin-top: -240px;
  z-index: 0;
  // position: absolute;
}

  .blog-text-section {
    background: rgba(0, 0, 0, 0);
    margin-top: -320px;
    z-index: 18;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .large-image-container {
      height: 350px;
      width: 70%;

      img {
        height: 100%;
        width: 100%;
      }

    }

    .inner-section-container {
      width: 60%;
      margin-top: 50px;

      .section-text {
        width: 100%;
        line-height: 30px;
        font-family: 'Roboto';
        letter-spacing: .4px;
        font-size: 18px;
        margin-bottom: 50px;
        text-indent: 30px;
      }
    }
  }
